form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid lightgrey;
  box-sizing: border-box;
}

input[type="button"] {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
input[type="button"]:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

#wrong{
  color: red;
}

