<nav>
  <ul>
    <li><a href="/user-feed">Home</a></li>
    <li>Notifications</li>
    <div class="search-container">
      <input type="text" [(ngModel)]="searchText" placeholder="Search text">

    </div>
    <li style="float:right"><button class="logoutButton" (click)="clearCache()">Log out</button></li>

  </ul>
</nav>

<form>
  <div class="addContainer">
    <b>Subject</b>
    <input #subject type="text" placeholder="Enter Subject" name="uname" required>
    <b>Description</b>
    <input #description type="text" placeholder="Enter Description" name="uname" required>
    <b>Category</b>
    <input #category type="text" placeholder="Enter Category" name="uname" required>
    <b>Location</b>
    <input #location type="text" placeholder="Enter Location" name="uname" required>

    <button type="button" (click)="createPost(subject.value,description.value,category.value,location.value)">Add Post</button>

  </div>
</form>
