<!-- <form action="loginForm" method="post" (ngSubmit)="signup(username.value,password.value)"> -->
<div class="container">
  <b>Username</b>
  <input #username type="text" placeholder="Enter Username" name="uname" required>

  <b>Password</b>
  <input #password type="password" placeholder="Enter Password" name="psw" required>

  <button (click)="signup(username.value,password.value)">Sign up</button>

  <!-- <button type=submit>Sign up</button>  This will be connected with DB-->
</div>

<!-- </form> -->
