.addButton {

  padding: 10px;
  display:block;
  background-color: blue;
  color: white;
  text-align:center;
  position: relative;
  top: 10px;
  right: 10px;

}
nav {background-color: skyblue}
nav > ul {display: block;  list-style-type: none; padding: 10px; margin: 0; overflow: hidden}
nav > ul > li {margin-right: 20px} /*space between menu*/

li{
  float: left;
}

.logoutButton {
  background-color: skyblue;
  border: none;
  float: right;
  border-radius: 90px;
  color: white;
}

li a:hover, .logoutButton {
  background-color: cornflowerblue;
  padding: 3px;
}

.center {
  border: 3px solid darkgrey;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.seller{
  border: 3px solid darkgrey;

}
.seller p:first-child{
  float: left;
}
.seller .likeButton {
  background-color: skyblue;
  border: none;
  float: left;
  padding: 4px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.page{
  list-style-type: none;
  margin: auto;
  width: 50%;

  padding: 18px;
  text-align: center;
}

.search-container {
  float: center;
  border: none;
  cursor: pointer;
}
.addContainer input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid lightgrey;
  box-sizing: border-box;
}
