<nav>
  <ul>
    <li><a href="/user-feed">Home</a></li>
    <li>Notifications</li>
    <div class="search-container">
      <input type="text" [(ngModel)]="searchText" placeholder="Search text">
    </div>
    <li style="float:right"><button class="logoutButton" (click)="clearCache()">Log out</button></li>
  </ul>
</nav>

<div class="page">
  <div class="center" *ngFor="let post of db | filter: searchText">
    <p>{{post.subject}} </p>
      <div class="seller" >
        <p>Seller: {{post.username}}</p>
        <p>Description: {{post.descrip}}</p>
        <p>Category: {{post.category}}</p>
        <!--<div [inerHTML]="location"]>{{location}}</div>-->
      </div>
  </div>
</div>

<button type="button" class="addButton" (click)="addPost()">Add post</button>
