
nav {background-color: skyblue}
nav > ul {display: block;  list-style-type: none; padding: 10px; margin: 0; overflow: hidden}
nav > ul > li {margin-right: 20px} /*space between menu*/

li{
  float: left;
}

.logoutButton {
  background-color: skyblue;
  border: none;
  float: right;
}

li a:hover, .logoutButton {
  background-color: cornflowerblue;
  padding: 3px;
}

.center {
  border: 3px solid darkgrey;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.seller{
  border: 3px solid darkgrey;

}
.seller p:first-child{
  float: left;
}
.seller .likeButton {
  background-color: skyblue;
  border: none;
  float: left;
  padding: 4px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.page{
  list-style-type: none;
  margin: auto;
  width: 50%;

  padding: 18px;
  text-align: center;
}
