<nav>
  <ul>
    <li><a href="/user-feed">Home</a></li>
    <li>Notifications</li>
    <div class="search-container">
      <i style="float:center"><input #search type="text" class="search" placeholder="Search.."></i>
      <button type="button" (click)="searchFeed(search.value)">Submit</button>
    </div>
    <li style="float:right"><button class="logoutButton" (click)="clearCache()">Log out</button></li>

  </ul>
</nav>

<div class="page">
  <div class="center" *ngFor="let post of db">
    <p>{{post.subject}} </p>
    <div class="seller" >
      <p>Seller: {{post.userID}}</p>
      <p>Description: {{post.descrip}}</p>
      <p>Category: {{post.category}}</p>
      <!--<div [innerHTML]="location"]>{{location}}</div>-->
    </div>
  </div>
</div>
