
<div class="page">
  <div class="center" *ngFor="let post of db | filter: searchText">
    <p>{{post.subject}} </p>
    <div class="seller" >
      <p>Seller: {{post.username}}</p>
      <p>Description: {{post.descrip}}</p>
      <p>Category: {{post.category}}</p>

      <!--<div [inerHTML]="location"]>{{location}}</div>-->
    </div>
  </div>
</div>

<form>
  <div class="addContainer">
    <b>Subject</b>
    <input #subject type="text" placeholder="Enter Subject" name="uname" required>
    <b>Description</b>
    <input #description type="text" placeholder="Enter Description" name="uname" required>
    <b>Category</b>
    <input #category type="text" placeholder="Enter Category" name="uname" required>



  </div>
</form>
<div class="ui-g-12">
  <button style="width: 100%" pButton type="button" label="Save" (click)="save(subject.value,description.value,category.value)"></button>
</div>
